/* ============ GLOBAL ============ */

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f5f5f7;
  -webkit-font-smoothing: antialiased;
}

/* global theme reusable colors */
:root {
  --main-red: #ff3b3b;
  --dark-red: #d21212;
  --text-black: #000;
  --text-white: #fff;
}
